/* Contact.css */
.contact {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #3494e6, #ec6ead);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
}

.contact-content {
  max-width: 900px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details,
.social-media {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
}

.contact-details ul,
.social-media ul {
  list-style: none;
  padding: 0;
}

.contact-details li,
.social-media li {
  margin: 10px 0;
}

.social-media i {
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #30aee9;
}

.contact-details a,
.social-media a {
  text-decoration: none;
  color: white;
}

.contact-details a:hover,
.social-media a:hover {
  text-decoration: underline;
  color: #007bff;
}

.copyright {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}

/* Media query for smaller screens (adjust as needed) */
@media (max-width: 768px) {
  .contact-content {
    padding-right: 35px;
  }

  .social-media i {
    font-size: 20px;
  }

  .contact {
    font-size: 1rem;
  }

  .copyright {
    /* bottom: 30px; */
    padding-right: 37px;
  }
}
