/* Landing.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.landing {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, #3494e6, #ec6ead);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
}

.intro {
  text-align: center;
  color: white;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

svg {
  width: 100%;
}

svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 40px;
}

@keyframes stroke {
  0% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 255, 255, 1);
  }
  80% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.position {
  font-size: 1.2rem;
  font-weight: bold;
}

.image img {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  border: 3.5px solid white;
  display: block;
  margin: 0 auto;
}

.profile-content {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Media query for smaller screens (less than 768px) */
@media (max-width: 425px) {
  .profile-content {
    padding: 0;
    font-size: 1rem;
  }

  .intro h1 {
    font-size: 1.6rem;
  }

  .image img {
    width: 125px;
    height: 125px;
  }

  svg text {
    font-size: 20px;
  }

  svg {
    height: 7vh;
    margin-top: 30px;
  }
}

@media (min-width: 769px) {
  .landing {
    position: fixed;
  }

  .profile-content {
    font-size: 1.15rem;
  }

  .position {
    font-size: 1.4rem;
  }

  .landing-content {
    margin-bottom: 20vh;
  }
}
