/* Landing.css */
.landing {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, #3494e6, #ec6ead);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow for larger screens */
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding:20px;
}

.intro {
  text-align: center;
  color: white;
  width: 100%;
  padding: 0 10px; /* Adjusted padding for smaller screens */
  box-sizing: border-box;
}

.intro h1 {
  font-size: 2rem; /* Adjusted font size for smaller screens */
}

.position {
  font-size: 1.2rem;
  font-weight: bold;
}

.image img {
  border-radius: 50%;
  width: 150px; /* Adjusted image size for smaller screens */
  height: 150px; /* Adjusted image size for smaller screens */
  border: 3.5px solid white; /* Adjusted border size for smaller screens */
  display: block;
  margin: 0 auto;
}

.profile-content {
  font-size: 1rem; /* Adjusted font size for smaller screens */
  text-align: justify;
  line-height: 1.4;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Media query for smaller screens (less than 768px) */
@media (max-width: 425px) {
  .landing-content {
    padding: 40px; /* Adjusted padding for even smaller screens */
    overflow-y: auto; /* Enable vertical scrolling for smaller screens */
  }

  .profile-content {
    padding: 0;
    font-size: 1rem;
  }

  .intro h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .profile-content {
    font-size: 1.2rem;
  }
}